---
layout: page
---

<div class='profile-pic'>
  <img src="{{ site.baseurl }}/assets/images/betweenskyandsea.jpeg" id='circular' alt='wooseok standing in a forest'>
</div>

<div style='font-family: "Poor Story"'>
<h4>고등학교 1학년 때,</h4>

<h4>‘20년 후 자신의 모습’을 상상하고 발표하는 시간이 있었다.</h4>

<h4>40살이 되기 전 나는 어떤 사람이 되어 있을까?</h4>

<p>회사원, 사회적으로 훌륭하거나 성공한 사람, 그리고 어느 정도 안정적인 삶을 사는 사람 등 여러 생각들이 머리를 스쳐 지나갔었다.</p>

<p>하지만, 아직 순수함을 추구했던 나이였기에 나는 누구보다 솔직한 사람이 되어있겠다 싶었다.</p>


<p>‘맞아, 아마 나는 거짓말 안하기로 소문난 사람이 되어있을 것이다.’</p>


<p>의도하지 않게 나의 20살의 고개는 책 속에 파묻혀 의학이라는 학문에 모든 것을 쏟아 붓고 집중했다. 의사처럼 매력적이고 인간적인 직업이 있으랴. 환자를 대하는 일처럼 솔직하고 인간적인 일이 있을까?</p>

<p>‘맞아, 난 내 길을 바로 가고 있는 거야’</p>

<p>1987년 한 대학생이 물 고문에 의해 사망이 되고 사회와 정부에 대한 적지 않은 반감은 한 학기 내내 대 정부 투쟁의 나날이었다. 이러한 사회에 회의감이 들었지만 누구는 지구의 종말이 와도 사과나무를 심겠다는데 나는 적어도 ‘전쟁이 일어날 지라도 도서관에서 조용히 책을 보며 인생의 최후를 맞이하겠다’ 다짐도 하였다.</p>

<p>20대 후반, 대학병원의 전공의가 되고 나서 의사처럼 거짓말을 많이 하는 직업은 흔치 않다는 것을 나는 깨달았다.
가망 없은 환자의 삶에 용기를 주기 위해, 불안과 좌절 속에 있는 그들의 가족을 위해 난 거짓말을 밥 먹듯 해야 했다. 의도가 어떻든, 나는 나의 어린 시절 스스로에게 한 약속 과도 같은 꿈에서 벗어나기 시작 했다.</p>

<p>30대에 개인 병원을 오픈하고 나만의 공간을 가지며 나는 생각했다.
난 훌륭한 의사가 될 수 있을까? 이 공간을 통해 나만의 전문성과 자율 그리고 정체성을 만들고 스스로에게 자랑스러운 한 인간이 될 수 있을까? 나만의 특성을 갖는 병원을 운영할 수 있을까 했던 걱정과 달리 시골의 작은 공간은 지역의 많은 분들의 삶에 위로와 희망이 되어줄 수 있었다. 다행스러운 일이었다.</p>


<p>50대 중반이 되어 난 새로운 공부를 했다.
‘나를 새롭게 활용한다’는 흔들리지 않을 것 같은 목표를 가지고 미래학에 전념했다. 인간이 미래를 예측하는 것은 현재로서는 불가능하다는 것을 공부하며 알게 되었다. 혹시 과학의 발달로 모든 시나리오를 만들어낼 수 있다면 미래의 불확실성도 극복할 수 있겠거니 생각도 했다.</p>

<p>학문에 매달리면서 알게 된 것이 있다.</p>

<p>내 앞을 가로 막는 장애물이 크면 클수록 내가 하고 있는 일이 더 중요해진 다는 사실이다.</p>

<p>하나의 마음과 시간이 직업을 만들고 그 속에서 사상을 만들어진다. 부끄럽지만 짧은 인생을 돌아보면 나의 주류를 이루는 사고는 정직과 몰두이다.</p>

<p>정직은 인생을 값지게 만들고 몰두는 인생에 활력을 선사한다. </p>

<p>집중하는 것은 낭만이고 열정은 이를 유지하게 하며, 절제는 인생을 풍요롭게 한다.</p>

</div>
